<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Volume_Master.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Office Dark Gray</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Office Darker Gray">
                <SvgColor Name="Paint" Value="170,170,170" />
                <SvgColor Name="Paint High" Value="212,212,212" />
                <SvgColor Name="Paint Shadow" Value="160,160,160" />
                <SvgColor Name="Paint Deep Shadow" Value="177,177,177" />
                <SvgColor Name="Brush" Value="38,38,38" />
                <SvgColor Name="Brush Light" Value="115,115,115" />
                <SvgColor Name="Brush High" Value="38,38,38" />
                <SvgColor Name="Brush Major" Value="120,120,120" />
                <SvgColor Name="Brush Minor" Value="150,150,150" />
                <SvgColor Name="Accent Paint" Value="16,110,190" />
                <SvgColor Name="Accent Paint Light" Value="175,175,175" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="112,164,235" />
                <SvgColor Name="Key Paint" Value="68,68,68" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="160,160,160" />
                <SvgColor Name="Red" Value="209,53,0" />
                <SvgColor Name="Green" Value="76,138,117" />
                <SvgColor Name="Blue" Value="41,92,143" />
                <SvgColor Name="Yellow" Value="226,183,114" />
                <SvgColor Name="Black" Value="66,66,66" />
                <SvgColor Name="Gray" Value="124,124,124" />
                <SvgColor Name="White" Value="195,195,195" />
                <SvgColor Name="altRed" Value="209,53,0" />
                <SvgColor Name="altGreen" Value="76,138,117" />
                <SvgColor Name="altBlue" Value="41,92,143" />
                <SvgColor Name="altYellow" Value="226,183,114" />
                <SvgColor Name="altBlack" Value="66,66,66" />
                <SvgColor Name="altWhite" Value="195,195,195" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Volume_Master.Settings>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Volume_Master.Settings>
  </userSettings>
</configuration>